@use '../base/variables' as v;
.confirmar{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    &__container{
        width: 52rem;
    }
    
    &__h3{
        margin: 0;
        margin-bottom: v.$pad;
        text-align: center;
    }
    &__p{
        font-weight: v.$bold;
    }
    &__span{
        font-weight: v.$thin;
    }
    &__contactos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__contacto-card{
        & p{
            margin: 0;
            margin-bottom: v.$pad;
        }
    }

    &__enviar{
        display: flex;
        flex-direction: column;
    }
}