@use '../base/variables' as v;

.lds-dual-ring {
    /* change color here */
    color: v.$blanco;
  }
  .lds-dual-ring,
  .lds-dual-ring:after {
    box-sizing: border-box;
  }
  .lds-dual-ring {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner{
    &__config{
      width: 100%;
    }
  }